body {
  padding-bottom: 120px;
}

.container {
  padding-right: 480px;
}

.caixa-texto p {
  max-width: 520px;
  line-height: 1.6;
  word-break: break-word;
  margin-top: 16px;
  font-size: 16px;
}


.caixa-texto button {
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 40px;
  border: none;
  background: #017143;
  color: #fff;
  cursor: pointer;
}


.caixa-imagem {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.circulo {
  position: fixed;
  top: 50%;
  right: -300px;
  transform: translateY(-50%);
  width: 900px;
  height: 900px;
  background: #017143;
  border-radius: 50%;
  z-index: -1;
}

.starbucks {
  position: fixed;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
  width: 360px;
  z-index: 1;
}


/* Menu flutuante */
.menu-flutuante {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);


  display: flex;
  gap: 12px;


  background: #02be70;
  padding: 12px 20px;
  border-radius: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}


.botao-menu {
  width: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.botao-menu:hover {
  transform: translateY(-10px);
}



@media (max-width: 1024px) {

  .circulo {
    position: fixed;
    left: -120px;
    top: 120px;
    width: 420px;
    height: 420px;
    transform: none;
  }

  .starbucks {
    position: fixed;
    left: 60px;
    top: 160px;
    width: 180px;
    transform: none;
  }

  body {
    overflow-y: hidden; /* sem scroll */
  }
}


@media (max-width: 480px) {

  .circulo {
    width: 220px;
    height: 220px;
    left: -60px;
    top: 140px;
  }

  .starbucks {
    width: 140px;
    margin-top: 30px;
  }

  .caixa-texto h1 {
    font-size: 22px;
  }

  .caixa-texto p {
    font-size: 13px;
  }
}